/.idea/*
/__pycache__/*
__test.py
/runs/*


# Не загружать сохраненные чекпоинты
/checkpoints/**

# Не загружать сохраненные изображения
/saved_images/*.png
/saved_images/fake_european/*.png
/saved_images/fake_asian/*.png
!/saved_images/.gitkeep